body {
    background: Snow;
    font-family: 'Candara', sans-serif;
    display: flex;
    align-content: center;
    justify-content: center;
}

.wrapper {
    display: flex;
    width: 750px;
    height: 450px;
    margin: auto;
    border: 5px solid MidnightBlue;
    background: WhiteSmoke;
}

.leftside {
    flex-direction: column;
}

.head {
    background: SteelBlue;
    width: 350px;
    height: 150px;
}

.playlist {
    background: LightGrey;
    width: 350px;
    height: 230px;
}

.playlist::-webkit-scrollbar {
    width: 3px;
}

.playlist::-webkit-scrollbar-track {
}

.playlist::-webkit-scrollbar-track {
}

.playlist::-webkit-scrollbar-thumb {
  background: Grey;
}

.pictures {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fox {
    width: 100px;
    height: 100px;
    padding-left: 5px;
}

.cover {
    width: 120px;
    height: 120px;
}

h2 {
    padding-left: 5px;
    margin: 0;
}

.playlist-add {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blackadd {
    width: 30px;
    height: 30px;
    background-image: url('img/blackadd.svg');
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.alltracks, .favs, .playlistItem, .tracklistItem {
    width: 338px;
    height: 35px;
    border: 1px solid MidnightBlue;
    padding: 5px;
}

.rightside {
    flex-direction: column;
}

.current {
    background: SteelBlue;
    width: 400px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

p {
    padding-left: 5px;
}


.favourite, .addtolist {
    width: 25px;
    height: 25px;
    padding: 5px;
    cursor: pointer;
}

.tracks {
    background: LightGrey;
    width: 400px;
    height: 280px;
    display: flex;
    overflow: auto;
    flex-direction: column;
}

.tracklistItem {
    width: auto;
}

.tracks::-webkit-scrollbar {
    width: 3px;
}

.tracks::-webkit-scrollbar-track {
}

.tracks::-webkit-scrollbar-track {
}

.tracks::-webkit-scrollbar-thumb {
  background: Grey;
}

.controlpanel {
    background: SteelBlue;
    display: flex;
    position: absolute;
    align-self: flex-end;
    width: 730px;
    height: 50px;
    padding: 10px;
    align-items: center;
    flex-direction: row;
}

audio::-webkit-media-controls-panel {
    width: 500px;
}

.shuffle, .rewind, .forward {
    width: 25px;
    height: 25px;
    padding: 10px;
    cursor: pointer;
}
