body {
    background: LightSeaGreen;
}

.wrapper {
    display: flex;
    align-items: center;
}

.container {
    width: 750px;
    height: 450px;
    margin: auto;
    border: 5px solid MidnightBlue;
    background: AliceBlue;
}

.controlpanel {
    display: flex;
}
