.container {
    display: flex;
    flex-basis: auto;
    height: 300px;
    background-color: #FFD62A;
    list-style-type: none;
    justify-content: space-between;
}

.item {
    width: 100px;
    height: 100px;
    background-color: #B02AFF;
}
