* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.container {
    display: flex;
    flex-basis: row;
    height: 300px;
    background-color: #FFD62A;
    list-style-type: none;
    justify-content: flex-end;
}

.item {
    width: 150px;
    height: 150px;
    background-color: #B02AFF;
    margin: 5px;
    margin-bottom: 0;
    align-self: flex-end;
}

.item:last-child {
    margin-right: 0;
}
