
.container {
  display: flex;
  width: 600px;
  height: 500px;
  flex-direction: column;
}

.item {
  height: 100%;
}

.green {
  background-color: #51D400;
  order: 1;
}

.yellow {
  background-color: #FFD62A;
  height: 200%;
  order: 3;
}

.purple {
  background-color: #B02AFF;
  order: 2;
}
