.site {
    width: auto;
    background-color: LightSlateGrey;
    font-family: 'Candara', sans-serif;
}

.wrapper {
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
}

.container {
    width: 750px;
    height: 422px;
    margin: auto;
}

.button {


}

#previous {
    left: 0px;
}

#next {
    right: 0px;
}
