.box {
    margin: 20px 45px;
    padding: 20px;
    width: 350px;
    background-color: #4285F4;
    font-size: 36px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

p {
    height: 90px;
    margin: 0;
    padding-top: 40px;
    color: white;
    }

#north {
    background-color: #E67676;
}

#east {
    background-color: #F2F062;
}

#south {
    background-color: #A9E6E6;
}

#west {
    background-color: #7692E4;
}
