body {
    background: Snow;
    font-family: 'Candara', sans-serif;
    display: flex;
    align-content: center;
    justify-content: center;
}

.wrapper {
    display: flex;
    width: 750px;
    height: 450px;
    margin: auto;
    margin-top: 100px;
    background: SteelBlue;
    flex-direction: column;
    align-items: center;
}

button {
    cursor: pointer;
}
