body {
    background: Gainsboro;
    font-family: 'Candara', sans-serif;
    display: flex;
    align-content: center;
    justify-content: center;
}

.wrapper {
    display: flex;
    width: 750px;
    height: 450px;
    margin: auto;
    margin-top: 100px;
    background: SteelBlue;
    flex-direction: column;
    align-items: center;
}

button {
    cursor: pointer;
    margin-left: 10px;
}

input {
    width: 300px;
}

.list {
    display: block;
    margin-top: 15px;
}

.todo {
    background: Gainsboro;
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin: 5px;
    padding: 2px;
}

.trash {
    width: 30px;
    height: 30px;
    display: inline-block;
    background-image: url('../assets/trash.svg');
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}
