body {
    background: Gainsboro;
    font-family: 'Candara', sans-serif;
    display: flex;
    align-content: center;
    justify-content: center;
}

.wrapper {
    display: flex;
    width: 750px;
    height: 450px;
    margin: auto;
    margin-top: 100px;
    background: SteelBlue;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.input-section {
    margin-bottom: 10px;
}

.filters {
    justify-content: space-between;
}

button {
    cursor: pointer;
    margin-left: 10px;
    border-radius: 3px;
}

input {
    width: 300px;
    border-radius: 3px;
}

.list {
    display: block;
    margin-top: 15px;
}

.todo {
    background: Gainsboro;
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin: 5px;
    padding: 2px;
    border-radius: 3px;
}

.trash, .no, .yes {
    width: 30px;
    height: 30px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.trash {
    background-image: url('../assets/trash.svg');
}

.no {
    background-image: url('../assets/circle.svg');
}

.yes {
    background-image: url('../assets/check.svg');
}
