p {
    font-size: 16px;
    font-family: courier;
    color: white;
    max-width: 220px;
    padding: 20px;
    margin: 10px;
    text-align: center;
}

p:first-of-type {
    background-color: #FF6347;
    background-image: url(duck.png);
    background-size: 80px;
    background-repeat: no-repeat;
    background-position: left center;
}

p:nth-of-type(2) {
    background-color: #643579;
    background-image: url(duck.png);
    background-size: 160px;
    background-repeat: no-repeat;
    background-position: center;
}

p:last-of-type {
    background-color: #808080;
    background-image: url(duck.png);
    background-size: 80px;
    background-repeat: no-repeat;
    background-position: right bottom;
}
